body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #eaeaea;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 70%;
    margin: 30px auto;
    overflow: hidden;
}

header {
    background-color: #ff9500;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1,
header p {
    margin: 0;
    padding: 0;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 0%;
    margin: 20px auto;
    display: block;
}

.profile,
.education,
.experience,
.skills {
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(1, 1, 1, 0.2);
}

.profile h2,
.education h2,
.experience h2,
.skills h2 {
    color: #ff9500;
    border-bottom: 2px solid #ff9500;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.profile p,
.profile li,
.education p,
.experience p,
.skills li {
    font-size: 0.9em;
}

.profile ul,
.skills ul {
    list-style-type: square;
    padding-left: 20px;
}
